*{
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
	background-color:#000000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    color: #fff;
	background-color:#000000;
}

.logo{
    font-size: 3rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.header{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url('../images/home.jpg');
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 100vh;
}

.links li a{
    color: #fff;
    font-weight: bold;
}

.links li{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.links .active{
    color: yellow;
}

.center-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.center-content h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 6rem;
}

.center-content p{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #fff;
}

.center-content button{
    color: yellow;
    margin-top: 40px;
    padding: 10px 30px 10px 30px;
    background: transparent;
    border: 1px solid yellow;
    cursor: pointer;
    font-weight: bold;

}

.links li a:hover{
    color: yellow;
}

ul li{
    list-style: none;
    margin-top: 12px;
}

#services{
    background: whitesmoke;
    padding-bottom: 40px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

#services h1{
    text-align: center;
    padding: 20px;
    color: rgb(255, 196, 0);
}

.card-h3{
    text-align: center;
}

.service-card{
    background: white;
    border: 1px solid yellow;
    border-radius: 8px;
    padding: 20px;
}

#services .services-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about{
    background: whitesmoke;
    padding-bottom: 40px;
}
#about h1{
    text-align: center;
    padding: 20px;
    color: rgb(255, 196, 0);
}

#about .about-para{
    padding: 20px;
}
aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

#trainers h1{
    text-align: center;
    padding: 20px;
    color: rgb(255, 196, 0);
}

#trainers .trainers-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table{
    border: 1px solid #ddd;
    width: 80%;
    font-weight: bold;
    margin: auto;
    overflow-x:auto;
}

.table th {
    text-align: left;
    background-color: rgb(255, 208, 0);
    color: white;
    padding:12px; 
   
  }
.table tr{
    text-align: center;
}
.table td{
    padding: 10px;
}
.table tr:nth-child(even){background-color: #a8a8a4;}

.table tr:hover {background-color: lightgreen;}



footer{
    color: yellow;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}